# emacs backup files
*~

# python modules used for sphinx build
python/*
# tmp files during builds
tmp/*
# venv for python build
venv/*
# generated translation files
**/*.mo
# generated site
_build
# python cache
**/__pycache__
# internal editor files
.vscode