accessible-pygments==0.0.5
alabaster==1.0.0
babel==2.17.0
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.3.2
cycler==0.12.1
docutils==0.21.2
fonttools==4.58.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
kiwisolver==1.4.8
latexcodec==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
numpy==2.2.5
packaging==25.0
pillow==11.2.1
pybtex==0.24.0
pybtex-docutils==1.0.3
pydata-sphinx-theme==0.15.4
pyenchant==3.2.2
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rfcbibtex==0.3.2
roman-numerals-py==3.1.0
setuptools==80.4.0
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.2.1
sphinx-book-theme==1.1.4
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
-e git+https://github.com/sphinx-contrib/mscgen@4dfa974b8b89155649c3e737e753195ae46a8645#egg=sphinxcontrib_mscgen
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-spelling==8.0.1
-e git+https://github.com/sphinx-contrib/tikz@a6ba7fad8bc2a3beec4da6144c0906ac344943ab#egg=sphinxcontrib_tikz
typing_extensions==4.13.2
urllib3==2.4.0
sphinxcontrib-jquery==4.1
