body > .container-xl {
  transform: translate(0);
}

.navbar-syllabus {
  line-height: 1.4;
}

.navbar-syllabus .dropdown {
  position: unset;
}

.toctree-wrapper *:not(.figure) > .caption {
  display: none;
}
